#body {
  color: #2B2A27;
  font-family: "Helvetica Neue", Arial, "Hiragino Sans", Meiryo, sans-serif;
}

a {
  color: #2B2A27;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

#mainvisual {
  height: 100vh;
}

#mainvisual img {
  height: 100%;
  width: 100%;
}

#top_txt {
  margin: 80px 0;
  text-align: center;
}

#top_txt h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

#top_txt p {
  line-height: 1.5;
}

#imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

#imgs li {
  width: calc(100% / 3);
}

#imgs li img {
  width: 100%;
  height: 500px;
  vertical-align: bottom;
}

#recipe_btn {
  text-align: center;
  margin-bottom: 80px;
}

#recipe_btn .btn {
  display: inline-block;
  padding: 20px 70px;
  border: 1px solid #2B2A27;
  font-size: .9rem;
}

#footer #sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
}

#footer #sns li {
  margin-right: 21px;
}

#footer #sns li:last-child {
  margin-right: 0;
}

#footer #sns li a {
  font-size: .8rem;
}

#footer p {
  padding: 20px 0;
  font-size: .7rem;
  text-align: center;
}

@media screen and (max-width: 834px) {
  #top_txt p {
    padding: 0 20px;
  }
  #imgs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  #imgs li {
    width: 100%;
  }
}
