#mainvisual {
	height: 100vh;
	img {
		height: 100%;
		width: 100%;
	}
}

#top_txt {
	margin: 80px 0;
	text-align: center;
	h1 {
		margin-bottom: 20px;
		font-size: 2rem;
	}
	p {
		line-height: 1.5;
	}
}

#imgs {
	display: flex;
	align-items: center;
	margin-bottom: 60px;
	li {
		width: calc(100% / 3);
		img {
			width: 100%;
			height: 500px;
			vertical-align: bottom;
		}
	}
}

#recipe_btn {
	text-align: center;
	margin-bottom: 80px;
	.btn {
		display: inline-block;
		padding: 20px 70px;
		border: 1px solid $txt;
		font-size: .9rem;
	}
}

#footer {
	#sns {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: underline;
		li {
			margin-right: 21px;
			&:last-child {
				margin-right: 0;
			}
			a {
				font-size: .8rem;
			}
		}
	}
	p {
		padding: 20px 0;
		font-size: .7rem;
		text-align: center;
	}
}